html {
    font-size: 10px;
}

/* 10px == 1rem */

#tribute-link {
    color: #39A6A3;
}


#tribute-link:hover {

    color: #4AA96C;
}


body {
    font-size: 2.1rem;
    font-style: normal;
    color: #323232;
    margin: 0;
    text-align: center;
    line-height: 1.5;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
}

#main {
    margin: 10px 8px;
    padding: 10px;
    border-radius: 6px;
    background: #DDDDDD;

}

#title {
    letter-spacing: 2px;
    font-size: 5.5rem;
    margin-bottom: 0;

}

strong {
    font-family: 'IBM Plex Sans Arabic', sans-serif;

}

#img-div {
    background-color: white;
    width: 93vw;
    height: auto;
    margin: 0px auto;
    padding: 10px;


}

#image {
    width: 100%;
    height: auto;
}

#img-caption {
    margin: 15px 0px 10px 0px;
    padding: 0 15px 0 10px;
}

#headline {
    margin: 60px 0px 70px 0px;
}

ul {
    margin: 0 auto 50px auto;
    text-align: left;
    font-weight: 600;
    font-family: 'Tajawal', sans-serif;
}

li {
    margin: 30px 0;
}

blockquote {
    font-style: italic;
    margin: 70px auto;
    padding: 0px 25px;
    text-align: left;
}



#tribute-info {
    width: 62vw;
    margin: 0 auto;

}


#bottom-header {
    font-size: 2.3rem;

}


@media (max-width: 933px) {
    #title {
        font-size: 4rem;
    }

    body {
        font-size: 1.9rem;
    }

    #bottom-header {
        font-size: 2rem;

    }

    #img-div {
        width: 89vw;
    }
}



@media (max-width: 700px) {
    #img-div {
        width: 86vw;
    }
}



@media (max-width: 460px) {
    #img-div {
        width: 83vw;
    }

    #title {
        font-size: 3.9rem;
    }

    body {
        font-size: 1.8rem;
    }

    #bottom-header {
        font-size: 1.9rem;
    }

}